@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: hsl(192, 100%, 9%);
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.1em;
}

img {
    max-width: 100%;
}

header {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-color: #hsl(193, 100%, 96%);
    background-position: center center;
    padding: 40px 0;
}

header img {
    margin-left: 20px;
}

.btn {
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: progress;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 60px;
}

.btn-primary {
    color: #fff;
    background-color: hsl(322, 100%, 66%);
}

.container {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
}

.flex {
    display: flex;
}

.box {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 50px;
    margin: 40px 50px;
}

.box img {
    margin: 0 20px 0 20px;
}
.center {
    text-align: center;
}

.small-box {
    display: inline-block;
    background-color: white;
    position: relative;
    z-index: 1;
    margin-bottom: -100px;
}

nav {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

footer {
    position: relative;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 100px 0 60px;
}

footer .flex {
    justify-content: space-between;
}

.col1 {
    flex: 2 1 100px;
    align-self: baseline;
}
 
.col2 {
    flex: 1 1 auto;
    align-self: baseline;

}

.col3 {
    flex: 1 1 auto;
    align-self: baseline;
}

.col4 {
    flex: 0 1 auto;
    align-self: baseline;
}

footer .flex img {
    position: relative;
    top: 5px;
}

footer .flex .col1 p {
    position: relative;
    top: -40px;
    left: 25px;
    margin-right: 50px;
}

.col1 :nth-of-type(2) {
    margin-top: -20px;
    top: -35px;
}

.col1 :nth-of-type(3) {
    margin-top: -20px;
    top: -35px;
}

i {
    border: 1px solid #fff;
    border-radius: 50%;
    color: white;
    height: 30px;
    width: 30px;
    padding: 5px;
    text-align: center;
}

@media screen 
    and (max-width: 768px) {
    
    nav.flex {
        flex-direction: row;
    }

    .flex {
        flex-direction: column;
    }

    * {
        text-align: center;
        margin: 0 auto;
    }

    .mobile-reverse {
        flex-direction: column-reverse;
    }

    button {
        margin: 10px 20px;
    }

    p {
        margin-bottom: 20px;
    }

    i {
        margin-bottom: 20px;
    }

    img {
        margin 20px;
    }

    footer .flex img {
        position: static;
        top: 0px;
        margin-top: 20px;
    }
    
    footer .flex .col1 p {
        position: static;
        top: 0px;
        left: 0px;
        margin-right: 0px;
    }
    
    .col1 :nth-of-type(2) {
        margin-top: 0px;
        top: 0px;
    }
    
    .col1 :nth-of-type(3) {
        margin-top: 0px;
        top: 0px;
    }
}